<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>SP Medical Group</title>
</head>
<style>
  html {
    height: 100%;
    width: 100%;

  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
  }

  .cabecalho {
    background-color: #c0c0c0;
    height: 50px;
  }

  .titulo {
    color: black;
    float: left;
  }

  .logo2 {
    float: left;

  }

  body {
    font-size: 14px;
  }

  #logo {
    /*height:1px;*/
    height: 40px;

  }

  menu.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    top: 100;
    width: 200px;
    height: 100px;
    border: 3px solid #73AD21;
  }

  .espacamento1 {
    width: 100%;
    height: 150px;
  }

  .espacamento2 {
    width: 100%;
    height: 50px;
  }

  .espacamento3 {
    width: 100%;
    height: 300px;
  }

  /*================================================================================= */
  .espacamento1 {
    width: 100%;
    height: 200px;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  /* remove a linha dos links */
  a {
    text-decoration: none;
  }

  /* esconde as ancoras da tela */
  a.links {
    display: none;
  }

  .content {
    width: 500px;
    min-height: 560px;
    margin: 0px auto;
    position: relative;
  }

  h2 {
    font-size: 48px;
    color: #000000;
    padding: 2px 0 10px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }

  h2:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
  }

  p {
    margin-bottom: 15px;
  }

  .content p:first-child {
    margin: 0px;
  }

  label {
    color: #405c60;
    position: relative;
  }

  #email_cad {
    color: #405c60;
    position: relative;
  }

  /* placeholder */
  ::-webkit-input-placeholder {
    color: #bebcbc;
    font-style: italic;
  }

  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #bebcbc;
    font-style: italic;
  }

  input {
    outline: none;
  }

  /*estilo dos input,  menos o checkbox */
  input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;

    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  /*estilo dos input,  menos o checkbox */
  #email_cad {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;

    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  /*estilo do botão submit */
  input[type="submit"] {
    width: 100% !important;
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    transition: all 0.2s linear;
  }

  /*estilo do botão submit no hover */
  input[type="submit"]:hover {
    background: #4ab3c6;
  }

  /*estilo do botão submit */
  button {
    width: 100% !important;
    cursor: pointer;
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    transition: all 0.2s linear;
  }

  /*estilo do botão submit no hover */
  button:hover {
    background: #4ab3c6;
  }

  .link {
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;

    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }

  .link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: rgb(29, 162, 193);
    margin-left: 10px;
    border: 1px solid #cbd518;

    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }

  .link a:hover {
    color: #39bfd7;
    background: #f7f7f7;
    border: 1px solid #4ab3c6;
  }

  #consulta {
    position: absolute;
    top: 0px;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189, 0.8);

    -webkit-box-shadow: 5px;
    border-radius: 5px;

    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;

    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
</style>

<body>

  <!-- espaçamento -->
  <div class="espacamento1"></div>

  <div class="container">
    <div class="content">
      <!-- FORMULÁRIO -->
      <div id="consulta">
        <form method="POST" action="/add">
          <h2>Agendar Consulta</h2>

          <p>
            <label for="nome">Seu nome</label>
            <input id="consulta_cad" name="nome" required="required" type="text" placeholder="nome" />
          </p>
          <p>
            <label for="data">Data</label>
            <input id="consulta_cad" name="data" required="required" type="date" placeholder="Dia/Mês/Ano" />
          </p>
          <p>
            <label for="hora">Hora</label>
            <input id="consulta_cad" name="hora" required="required" type="time" placeholder="Hora:Minutos" />
          </p>
          <p>
            <label for="doutor">Doutor</label>
            <select id="email_cad" name="doutor">
              <option value="">Selecionar...</option>
              <option value="Walter White">Walter White</option>
              <option value="Fernanda Oliveira">Fernanda Oliveira</option>
              <option value="Wilian Afton">Willian Afton</option>
              <option value="Amanda Teixeira">Amanda Teixeira</option>
            </select>
          </p>
          <p>
            <button type="submit">AGENDAR</button>
          </p>
          </p>
        </form>
      </div>
    </div>
  </div>

</body>

</html>