<html>
<head>
<style>
a:link, a:visited {
  background-color:#4ab3c6;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #5eddf3;
}
</style>
</head>
<body>

<h2>Consulta Agendada com Sucesso!</h2>

<a href="/painel2" target="_blank">Voltar</a>

</body>
</html>