
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>SP Medical Group</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="cabecalho">


     <div class="logo2"><img src="Logo.png" height="40" id="logo"></div>
     <div class="logo2"><h1>SP MEDICAL GROUP</h1>
       </div> 
    
    <nav class="menu">
      <ul>
        <li><a href="#">=</a> 
    	         	<ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="registro.html">Login</a></li>
                  <li><a href="Consultas.html">Consultas</a></li>
                  <li><a href="#">Dowload</a></li>    
    	                
    	       		</ul>
    		
      </ul>
    </nav>
  </div>
  <div class="minibar">
    <img src="email.png" height="20px"><b>spmedical@email.com <img src="telefone.png" height="20px"left="20px">     <b>  (19)9580-0029
  </div>

  <!--espaçamento-->

  <div class="espacamento1"></div>
 
  <!--Caroseul inicio-->
  <section class="slider">
  
     <!--Caroseul botoes--> 
            <input name='slide' type="radio" class="b1"  >
            <input name='slide' type="radio" class="b2" checked>
            <input name='slide' type="radio" class="b3">
    <!--Caroseul Imagens-->
    
        <div class="slider-content">
            <div class="slider-item"><img src="Caroseul1.png" width="100%" height="500"></div>
            <div class="slider-item"><img src="Caroseul2.png" width="100%" height="500"></div>
            <div class="slider-item"><img src="Caroseul3.png" width="100%" height="500"></div>
        </div>
  </section>
   
  <!--fim caroseul-->

  <br>
  <!--espaçamento 2-->

  <div class="espacamento2"></div>

  <!--doutores-->
  <div class=e1_151>
    <div class=e1_152>
      <div class="e1_153"></div>
      <div class="e1_154"></div><span  class="e1_155">José Almeida <br>Dentista</span>
    </div>
    <div class=e1_156>
      <div class="e1_157"></div><span  class="e1_158">Felipe Arruda <br>Psicólogo</span>
      <div class="e1_159"></div>
    </div>
    <div class=e1_160>
      <div class="e1_161"></div><span  class="e1_162">Marcela Aguiar <br>Cardiologista</span>
      <div class="e1_163"></div>
    </div>
    <div class=e1_164>
      <div class="e1_165"></div>
      <div class="e1_166"></div><span  class="e1_167">Michele Washington <br>Pediatra</span>
    </div><span  class="e17_17">DOUTORES</span>
  </div>
<!--fim doutores-->

<div class="espacamento3"></div>

<!--rodape-->

  <div class="rodape">
    
  </div>
  
  <!---->


  
</body>

</html>
